# MYSQL
mysql_name='jan-word-mysql'
mysql_port=3307
mysql_password='root'
# Redis
redis_name='jan-word-redis'
redis_port=6379
redis_password='root'
# 后端
backend_name='jan-word-backend'
backend_port='8080'
# 前端
frontend_name='jan-word-frontend'
frontend_port='80'
# 数据卷路径
docker_data_path=~/.jan-word

